node-red/lib/flows/media_flows.json
[{"id":"9e36de87.f0bdc","type":"subflow","name":"Start TV","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"d420e9ba.0bf738"},{"id":"832c1d99.7f4bb"}]}],"out":[]},{"id":"935d09c9.46fc98","type":"api-call-service","z":"9e36de87.f0bdc","name":"TV Power Toggle","server":"1e849054.5b585","service_domain":"script","service":"tv_power","data":"{\"entity_id\":\"script.tv_power\"}","render_data":false,"mergecontext":"","x":370,"y":170,"wires":[["a44506b9.3195d8"]]},{"id":"d420e9ba.0bf738","type":"time-range-switch","z":"9e36de87.f0bdc","name":"Night","lat":"60.14412","lon":"16.16977","startTime":"22:00","endTime":"11:00","startOffset":0,"endOffset":0,"x":190,"y":40,"wires":[["3bce1ba.f048be4"],[]]},{"id":"832c1d99.7f4bb","type":"api-current-state","z":"9e36de87.f0bdc","name":"TV:n på?","server":"1e849054.5b585","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.lg_tv_bt_mon","state_type":"str","override_payload":true,"override_data":true,"x":200,"y":110,"wires":[["7b038a58.a3a824"]]},{"id":"7b038a58.a3a824","type":"switch","z":"9e36de87.f0bdc","name":"PÅ / Av","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":110,"wires":[["63892da3.d450f4"],["378159cc.154936"]]},{"id":"a44506b9.3195d8","type":"delay","z":"9e36de87.f0bdc","name":"","pauseType":"delay","timeout":"11","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":170,"wires":[["63892da3.d450f4"]]},{"id":"3bce1ba.f048be4","type":"api-current-state","z":"9e36de87.f0bdc","name":"Åsa hemma","server":"1e849054.5b585","outputs":1,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.asa_home_status","state_type":"str","override_payload":true,"override_data":true,"x":350,"y":40,"wires":[["28b81faf.50d33"]]},{"id":"b1ae782c.fdeb28","type":"api-call-service","z":"9e36de87.f0bdc","name":"Set HDMI3 (tivo)","server":"1e849054.5b585","service_domain":"script","service":"tv_hdmi3","data":"{\"entity_id\":\"script.tv_hdmi3\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":760,"y":110,"wires":[[]]},{"id":"63892da3.d450f4","type":"change","z":"9e36de87.f0bdc","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":110,"wires":[["b1ae782c.fdeb28"]]},{"id":"378159cc.154936","type":"change","z":"9e36de87.f0bdc","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":170,"wires":[["935d09c9.46fc98"]]},{"id":"28b81faf.50d33","type":"better-sonos-control","z":"9e36de87.f0bdc","confignode":"621e974f.f19cc8","name":"Mute","mode":"","track":"","volume":"volume","volume_value":"0","x":530,"y":40,"wires":[]},{"id":"621e974f.f19cc8","type":"better-sonos-config","z":"9e36de87.f0bdc","name":"Playbar","serialnum":"B8-E9-37-76-67-7C:9","ipaddress":"192.168.111.7"},{"id":"bbf90b76.74abf8","type":"subflow","name":"Sub TV Sonos and Shield","info":"","category":"","in":[{"x":80,"y":40,"wires":[{"id":"655331cb.9eb07"},{"id":"d3a02c1.b00d0d"}]}],"out":[{"x":1000,"y":220,"wires":[{"id":"f98c1ca2.3be4e","port":0}]}]},{"id":"e08fe569.2ee628","type":"api-call-service","z":"bbf90b76.74abf8","name":"TV Power Toggle","server":"1e849054.5b585","service_domain":"script","service":"tv_power","data":"{\"entity_id\":\"script.tv_power\"}","render_data":false,"mergecontext":"","x":150,"y":320,"wires":[["cfad2762.744a28"]]},{"id":"d3a02c1.b00d0d","type":"time-range-switch","z":"bbf90b76.74abf8","name":"Night (22 - 11)","lat":"60.14412","lon":"16.16977","startTime":"22:00","endTime":"11:00","startOffset":0,"endOffset":0,"x":460,"y":40,"wires":[["87d8976f.fe17e8"],[]]},{"id":"655331cb.9eb07","type":"api-current-state","z":"bbf90b76.74abf8","name":"TV:n på?","server":"1e849054.5b585","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.lg_tv_bt_mon","state_type":"str","override_payload":true,"override_data":true,"x":120,"y":120,"wires":[["566f6a85.3ab1e4"]]},{"id":"656cadd.7945254","type":"api-call-service","z":"bbf90b76.74abf8","name":"Set HDMI1 (spel)","server":"1e849054.5b585","service_domain":"script","service":"tv_hdmi1","data":"{\"entity_id\":\"script.tv_hdmi1\"}","render_data":false,"mergecontext":"","x":670,"y":320,"wires":[["447dac6e.1840e4"]]},{"id":"12713ae3.d76fa5","type":"api-call-service","z":"bbf90b76.74abf8","name":"Set HDMI1 (spel)","server":"1e849054.5b585","service_domain":"script","service":"tv_hdmi1","data":"{\"entity_id\":\"script.tv_hdmi1\"}","render_data":false,"mergecontext":"","x":610,"y":100,"wires":[["813bb3c4.73e28"]]},{"id":"566f6a85.3ab1e4","type":"switch","z":"bbf90b76.74abf8","name":"PÅ / Av","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":120,"wires":[["417199b3.d51278"],["ffb75075.e2a36"]]},{"id":"24bca0c2.20e8d","type":"delay","z":"bbf90b76.74abf8","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":150,"wires":[["7b1fdb41.30eeb4"]]},{"id":"447dac6e.1840e4","type":"change","z":"bbf90b76.74abf8","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":320,"wires":[["7b1fdb41.30eeb4"]]},{"id":"813bb3c4.73e28","type":"change","z":"bbf90b76.74abf8","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":100,"wires":[["24bca0c2.20e8d"]]},{"id":"ffb75075.e2a36","type":"change","z":"bbf90b76.74abf8","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":150,"wires":[["e08fe569.2ee628","24bca0c2.20e8d"]]},{"id":"cfad2762.744a28","type":"delay","z":"bbf90b76.74abf8","name":"","pauseType":"delay","timeout":"11","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":320,"wires":[["1f2200af.90076f"]]},{"id":"87d8976f.fe17e8","type":"api-current-state","z":"bbf90b76.74abf8","name":"Åsa hemma","server":"1e849054.5b585","outputs":1,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.asa_home_status","state_type":"str","override_payload":true,"override_data":true,"x":650,"y":40,"wires":[["e7f62562.a8eed8"]]},{"id":"1f2200af.90076f","type":"change","z":"bbf90b76.74abf8","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":320,"wires":[["656cadd.7945254"]]},{"id":"417199b3.d51278","type":"change","z":"bbf90b76.74abf8","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":100,"wires":[["12713ae3.d76fa5"]]},{"id":"7b1fdb41.30eeb4","type":"api-call-service","z":"bbf90b76.74abf8","name":"Wake Shield","server":"1e849054.5b585","service_domain":"media_player","service":"androidtv_key","data":"{\"entity_id\":\"media_player.shield\",\"key\":\"KEYCODE_WAKEUP\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":750,"y":220,"wires":[["f98c1ca2.3be4e"]]},{"id":"f98c1ca2.3be4e","type":"change","z":"bbf90b76.74abf8","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":220,"wires":[[]]},{"id":"e7f62562.a8eed8","type":"better-sonos-control","z":"bbf90b76.74abf8","confignode":"c43496a8.ada768","name":"Mute","mode":"","track":"","volume":"volume","volume_value":"0","x":810,"y":40,"wires":[]},{"id":"c43496a8.ada768","type":"better-sonos-config","z":"bbf90b76.74abf8","name":"Playbar","serialnum":"B8-E9-37-76-67-7C:9","ipaddress":"192.168.111.7"},{"id":"a1712031.c30ea","type":"server-state-changed","z":"3b7e361e.cc2c3a","name":"Shield Twitch","server":"1e849054.5b585","entityidfilter":"input_boolean.twitch_trigger","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":110,"y":40,"wires":[["aee00433.5c88b8"],[]]},{"id":"68d1cd14.76b254","type":"server-state-changed","z":"3b7e361e.cc2c3a","name":"youtube trigger","server":"1e849054.5b585","entityidfilter":"input_boolean.youtube_trigger","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":120,"y":100,"wires":[["65d91c16.00c7b4"],[]]},{"id":"e01f790.34fac88","type":"server-state-changed","z":"3b7e361e.cc2c3a","name":"kodi trigger","server":"1e849054.5b585","entityidfilter":"input_boolean.kodi_trigger","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":150,"wires":[["25850d04.86f4c2"],[]]},{"id":"3d7f36b8.20ff4a","type":"server-state-changed","z":"3b7e361e.cc2c3a","name":"netflix trigger","server":"1e849054.5b585","entityidfilter":"input_boolean.netflix_trigger","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":200,"wires":[["7c59b078.8ea8e"],[]]},{"id":"8a1add73.3df11","type":"server-state-changed","z":"3b7e361e.cc2c3a","name":"tv4play trigger","server":"1e849054.5b585","entityidfilter":"input_boolean.tv4play_trigger","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":250,"wires":[["16a4389f.daade7"],[]]},{"id":"aee00433.5c88b8","type":"subflow:bbf90b76.74abf8","z":"3b7e361e.cc2c3a","name":"","x":340,"y":40,"wires":[["c18a7fcb.1fdf3"]]},{"id":"c18a7fcb.1fdf3","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Start Twitch","server":"1e849054.5b585","service_domain":"media_player","service":"androidtv_intent","data":"{\"entity_id\":\"media_player.shield\",\"intent\":\"-n tv.twitch.android.app/tv.twitch.android.apps.TVLandingActivity\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":40,"wires":[["7f5afa54.096114"]]},{"id":"65d91c16.00c7b4","type":"subflow:bbf90b76.74abf8","z":"3b7e361e.cc2c3a","name":"","x":340,"y":100,"wires":[["737c64c7.5f377c"]]},{"id":"25850d04.86f4c2","type":"subflow:bbf90b76.74abf8","z":"3b7e361e.cc2c3a","name":"","x":340,"y":150,"wires":[["b2be35b0.d45218"]]},{"id":"7c59b078.8ea8e","type":"subflow:bbf90b76.74abf8","z":"3b7e361e.cc2c3a","name":"","x":340,"y":200,"wires":[["1aa13b7e.5c27a5"]]},{"id":"16a4389f.daade7","type":"subflow:bbf90b76.74abf8","z":"3b7e361e.cc2c3a","name":"","x":340,"y":250,"wires":[["4c8323b.60083dc"]]},{"id":"b2be35b0.d45218","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Start Kodi","server":"1e849054.5b585","service_domain":"media_player","service":"androidtv_intent","data":"{\"entity_id\":\"media_player.shield\",\"intent\":\"-n org.xbmc.kodi/.Splash\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":150,"wires":[["62669703.318138"]]},{"id":"1aa13b7e.5c27a5","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Start Netflix","server":"1e849054.5b585","service_domain":"media_player","service":"androidtv_intent","data":"{\"entity_id\":\"media_player.shield\",\"intent\":\"-n com.netflix.ninja/.MainActivity\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":200,"wires":[["d5b3488f.75e0e8"]]},{"id":"4c8323b.60083dc","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Start Tv4play","server":"1e849054.5b585","service_domain":"media_player","service":"androidtv_intent","data":"{\"entity_id\":\"media_player.shield\",\"intent\":\"-n se.tv4.tv4playtab/se.tv4.tv4play.startup.SplashActivity\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":250,"wires":[["a03b0030.3ccdf"]]},{"id":"8c35f81e.3b4108","type":"subflow:9e36de87.f0bdc","z":"3b7e361e.cc2c3a","name":"","x":250,"y":350,"wires":[]},{"id":"a6e6bc5c.8f7d8","type":"server-state-changed","z":"3b7e361e.cc2c3a","name":"tv trigger","server":"1e849054.5b585","entityidfilter":"input_boolean.tv_trigger","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":300,"wires":[["28ceb1db.527b6e","8c35f81e.3b4108"],[]]},{"id":"eee1b7ce.e50b78","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Start Youtube","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_youtube\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":920,"y":100,"wires":[[]]},{"id":"5164ffb0.9cbd3","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Start Twitch","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_twitch\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":40,"wires":[[]]},{"id":"a155023d.fed61","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Start Kodi","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_kodi\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":150,"wires":[[]]},{"id":"135f49c7.ca3976","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Start Netflix","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_netflix\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":200,"wires":[[]]},{"id":"f0705c85.042c9","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Start Tv4play","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_tv4play\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":910,"y":250,"wires":[[]]},{"id":"62669703.318138","type":"change","z":"3b7e361e.cc2c3a","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":150,"wires":[["a155023d.fed61"]]},{"id":"d5b3488f.75e0e8","type":"change","z":"3b7e361e.cc2c3a","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":200,"wires":[["135f49c7.ca3976"]]},{"id":"a03b0030.3ccdf","type":"change","z":"3b7e361e.cc2c3a","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":250,"wires":[["f0705c85.042c9"]]},{"id":"f6a58f06.6555","type":"change","z":"3b7e361e.cc2c3a","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":100,"wires":[["eee1b7ce.e50b78"]]},{"id":"7f5afa54.096114","type":"change","z":"3b7e361e.cc2c3a","name":"Set ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":40,"wires":[["5164ffb0.9cbd3"]]},{"id":"e4aaa0da.c6783","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Shield On","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_on\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":440,"wires":[[]]},{"id":"81e81e34.ae2ad","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield On","server":"1e849054.5b585","entityid":"switch.shield_on","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":440,"wires":[["4cb04c54.98d024"],[]]},{"id":"4cb04c54.98d024","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":440,"wires":[["e4aaa0da.c6783"]]},{"id":"d852022a.3c1be","type":"comment","z":"3b7e361e.cc2c3a","name":"Reset Shield Lovelace Buttons","info":"","x":170,"y":400,"wires":[]},{"id":"12843d0d.b9ee23","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Shield Up","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_up\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":490,"wires":[[]]},{"id":"f458407d.27dc2","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Up","server":"1e849054.5b585","entityid":"switch.shield_up","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":490,"wires":[["2b742d9c.24d342"],[]]},{"id":"2b742d9c.24d342","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":490,"wires":[["12843d0d.b9ee23"]]},{"id":"af3520e0.83101","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Shield Off","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_off\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":540,"wires":[[]]},{"id":"a2c1f64d.5eb078","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Off","server":"1e849054.5b585","entityid":"switch.shield_off","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":540,"wires":[["786a2aeb.c58af4"],[]]},{"id":"786a2aeb.c58af4","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":540,"wires":[["af3520e0.83101"]]},{"id":"e9d7cc67.0f234","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Shield Left","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_left\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":510,"y":590,"wires":[[]]},{"id":"c0708aa3.d9d908","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Left","server":"1e849054.5b585","entityid":"switch.shield_left","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":590,"wires":[["eaf89386.d48ab"],[]]},{"id":"eaf89386.d48ab","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":590,"wires":[["e9d7cc67.0f234"]]},{"id":"f9dfada6.b5644","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Shield Enter","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_enter\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":510,"y":640,"wires":[[]]},{"id":"9e83411b.aa69e","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Enter","server":"1e849054.5b585","entityid":"switch.shield_enter","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":640,"wires":[["dc23ed77.22409"],[]]},{"id":"dc23ed77.22409","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":640,"wires":[["f9dfada6.b5644"]]},{"id":"259cb6cf.52daca","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Shield Right","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_right\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":510,"y":690,"wires":[[]]},{"id":"2f1be3ae.1a6d9c","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Right","server":"1e849054.5b585","entityid":"switch.shield_right","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":690,"wires":[["cdc3d98e.bb4f68"],[]]},{"id":"cdc3d98e.bb4f68","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":690,"wires":[["259cb6cf.52daca"]]},{"id":"e5b6e20e.f79c","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Shield Back","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_back\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":510,"y":740,"wires":[[]]},{"id":"d747b3fe.8df14","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Back","server":"1e849054.5b585","entityid":"switch.shield_back","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":740,"wires":[["6d8b24bf.874cdc"],[]]},{"id":"6d8b24bf.874cdc","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":740,"wires":[["e5b6e20e.f79c"]]},{"id":"625751b1.d4dfc","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Shield Down","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_down\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":510,"y":790,"wires":[[]]},{"id":"825c511b.7deb7","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Down","server":"1e849054.5b585","entityid":"switch.shield_down","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":790,"wires":[["62542105.5c4ef"],[]]},{"id":"62542105.5c4ef","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":790,"wires":[["625751b1.d4dfc"]]},{"id":"a04f7680.ee9d88","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Shield Home","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_home\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":510,"y":840,"wires":[[]]},{"id":"49d61718.506d48","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Home","server":"1e849054.5b585","entityid":"switch.shield_home","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":840,"wires":[["9ba752e4.e0e8"],[]]},{"id":"9ba752e4.e0e8","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":840,"wires":[["a04f7680.ee9d88"]]},{"id":"340d5bcd.c4e0e4","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Shield Play","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_play\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":510,"y":890,"wires":[[]]},{"id":"38437930.9a0c36","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Play","server":"1e849054.5b585","entityid":"switch.shield_play","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":890,"wires":[["c1a9a99c.0d70f8"],[]]},{"id":"c1a9a99c.0d70f8","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":890,"wires":[["340d5bcd.c4e0e4"]]},{"id":"3ba8af85.485f3","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Shield Play/Pause","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_play_pause\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":530,"y":940,"wires":[[]]},{"id":"fb71a402.e64c78","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Play/Pause","server":"1e849054.5b585","entityid":"switch.shield_play_pause","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":940,"wires":[["985a36b1.6e6088"],[]]},{"id":"985a36b1.6e6088","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":940,"wires":[["3ba8af85.485f3"]]},{"id":"b75127a9.3db828","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Shield Stop","server":"1e849054.5b585","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.shield_stop\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":510,"y":990,"wires":[[]]},{"id":"df2d97e0.6df508","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Stop","server":"1e849054.5b585","entityid":"switch.shield_stop","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":990,"wires":[["ec537308.739b2"],[]]},{"id":"ec537308.739b2","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":990,"wires":[["b75127a9.3db828"]]},{"id":"36902e0c.a71692","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Youtube Trigger","server":"1e849054.5b585","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.youtube_trigger\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":1060,"wires":[[]]},{"id":"ed0a8a6f.a66978","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Youtube Trigger","server":"1e849054.5b585","entityid":"input_boolean.youtube_trigger","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":140,"y":1060,"wires":[["4a849522.f234cc"],[]]},{"id":"4a849522.f234cc","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":1060,"wires":[["36902e0c.a71692"]]},{"id":"e491de86.5a925","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Kodi Trigger","server":"1e849054.5b585","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.kodi_trigger\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":540,"y":1110,"wires":[[]]},{"id":"afb7cc03.95e95","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Kodi Trigger","server":"1e849054.5b585","entityid":"input_boolean.kodi_trigger","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":1110,"wires":[["e134c354.44b41"],[]]},{"id":"e134c354.44b41","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":1110,"wires":[["e491de86.5a925"]]},{"id":"c5129f17.5e5bd","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Twitch Trigger","server":"1e849054.5b585","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.twitch_trigger\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":1160,"wires":[[]]},{"id":"88538056.a9a5f","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Twitch Trigger","server":"1e849054.5b585","entityid":"input_boolean.twitch_trigger","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":140,"y":1160,"wires":[["9acbddeb.41d27"],[]]},{"id":"9acbddeb.41d27","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":1160,"wires":[["c5129f17.5e5bd"]]},{"id":"a0472966.1eb438","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Netflix Trigger","server":"1e849054.5b585","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.netflix_trigger\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":1210,"wires":[[]]},{"id":"320ac611.da551a","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield Netflix Trigger","server":"1e849054.5b585","entityid":"input_boolean.netflix_trigger","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":140,"y":1210,"wires":[["21abbb68.aa8eb4"],[]]},{"id":"21abbb68.aa8eb4","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":1210,"wires":[["a0472966.1eb438"]]},{"id":"545c5a90.a5ffe4","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset TV4Play Trigger","server":"1e849054.5b585","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.tv4play_trigger\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":1260,"wires":[[]]},{"id":"b92a2fd.bf614d","type":"trigger-state","z":"3b7e361e.cc2c3a","name":"Shield TV4Play Trigger","server":"1e849054.5b585","entityid":"input_boolean.tv4play_trigger","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":146,"y":1264,"wires":[["815271bd.b7f9e"],[]]},{"id":"815271bd.b7f9e","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":1260,"wires":[["545c5a90.a5ffe4"]]},{"id":"44a1079d.7e8228","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Reset Trigger Tv","server":"1e849054.5b585","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.tv_trigger\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":420,"y":300,"wires":[[]]},{"id":"28ceb1db.527b6e","type":"delay","z":"3b7e361e.cc2c3a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":300,"wires":[["44a1079d.7e8228"]]},{"id":"737c64c7.5f377c","type":"api-call-service","z":"3b7e361e.cc2c3a","name":"Start Youtube","server":"1e849054.5b585","service_domain":"media_player","service":"androidtv_intent","data":"{\"entity_id\":\"media_player.shield\",\"intent\":\"-n com.google.android.youtube.tv/com.google.android.apps.youtube.tv.activity.ShellActivity\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":100,"wires":[["f6a58f06.6555"]]},{"id":"1e849054.5b585","type":"server","z":"","name":"Home Assistant (110)","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]